* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: #faf8f5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    text-align: center;
}
  
  .imagemDestaque {
    width: 50%;
    border-top: 2px solid #F5BD26;
    border-bottom: 2px solid #F5BD26;
    border-radius: 4px;
  }

  section ul {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    list-style-type: none;

  }

  h2 {
    margin-top: 25px;
  }

  hr {
    border: none;
    height: 2px;
    background-color: #f3c654; 
    width: 80%;                
    margin: 30px auto;         
  }
  

  p {
    width: 30%;                
    margin: 40px auto;         
    font-size: 16px;           
  }
  
  footer {
    background-color: white; 
    padding: 20px;           
    font-style: italic;        
    font-size: 15px;           
  }
  