* {
    margin: 0;
    padding: 0;
    text-align: center;
}

@font-face {
    font-family: 'Crewniverse';
    src: url('fontes/crewniverse_font.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fontes/Inter-Regular.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quenda';
    src: url('fontes/Quenda-Medium.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #FFF0F5;
}

/* HEADER */

nav {
    background-color: #DB7093;
    font-family: 'Crewniverse', crewniverse;
}

#logoSU {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 180px;
}

ol {
    color: white;
    display: flex;
    gap: 15%;
    justify-content: center;
    letter-spacing: 1px;
    list-style-type: none;
    margin: 0 auto;
    padding-bottom: 10px;
    width: 50%;
}

/* MAIN - CARDS DE CURIOSIDADES */

.card:first-of-type {
    margin-top: 50px;
}

.card {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
    display: flex;
    height: auto;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px 0px;
    width: 40%;
    max-width: 800px;

}

figure {
    margin: 0;
    width: 30%;
}

figure img {
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.30);
    height: auto;
    width: 70%;
}

.descricao {
    margin-right: 40px;
    width: 70%;
}

.descricao h2 {
    color: #355C7D;
    font-family: 'Crewniverse', crewniverse;
    font-size: medium;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.descricao p {
    color: #355C7D;
    font-family: 'Quenda', quenda;
    font-size: small;
}

/* FOOTER */

footer {
    background-color: #DB7093;
    bottom: 0;
    color: white;
    font-family: 'Inter', inter;
    font-size: small;
    position: fixed;
    width: 100%;
}

.textoFooter {
    padding-top: 10px;
    padding-bottom: 10px;
}